<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title></title>
<link rel="stylesheet" href="/static/css/view.css" />
<link rel="stylesheet" href="/static/jui/css/base/jquery.ui.css" />
<link rel="stylesheet" href="/static/jui/css/base/jquery.ui.datepicker.css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/xman.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/gamebox/game.js"></script>
<script type="text/javascript" src="/static/jui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/jui/js/jquery-ui-i18n.min.js"></script>
{literal}
<style type="text/css">
	.topbar {overflow: visible;}
#time_select_box{position:absolute;left:225px;top:175px;z-index:2013;width:510px;padding:5px;background:#fff;border:1px solid #ccc;}
#time_select_box .form_row{width:500px;}
#time_select_box .row_name{width:175px;}
</style>
{/literal}
</head>
<body>
<div class="wp">
<div class="view_head">
	<div class="topbar">
		<div class="crumbs">金币中心-任务配置</div>
		<div class="toolbtns">
			<a href="javascript:;"  onclick="xbox_createtask();return false;" >新增任务</a>
			<span>|</span>
			<a href="javascript:;" onclick="xbox_toindex();return false;" >每日任务</a>
			<span>|</span>
			<a href="javascript:;" onclick="xman_refresh();return false;">刷新</a>
			<a href="javascript:;" onclick="xbox_toindex();return false;">返回</a>
		</div>
		<div id="suggest_box"></div>
	</div>
</div>
<div id="view_body">
	<div id="view_content" class="view_content">
		<div style="width:900px;margin:10px auto;text-align:center;position:relative;">{$datagrid}</div>
	</div>
</div>
<div id="view_foot">
	{if $pagebar}
	<div class="pagebar" style="padding-bottom:20px;">
		<a class="prev_btn" href="/index.php?r=goldcenter/task/tasklist&page_num=1">首页</a>
		{if $pagebar['prev'] == 0}
		<span class="prev_btn">上一页</span>
		{else}
		<a class="prev_btn" href="/index.php?r=goldcenter/task/tasklist{if $pagebar['prev'] != 0}&page_num={$pagebar['prev']}{/if}">上一页</a>
		{/if}
		<span class="page_info">项:[{$pagebar['data_total']}]&nbsp;&nbsp;页:[{$pagebar['cur']}/{$pagebar['total']}]</span>
		{if $pagebar['next'] == 0}
		<span class="next_btn">下一页</span>
		{else}
		<a class="next_btn" href="/index.php?r=goldcenter/task/tasklist{if $pagebar['next'] != 0}&page_num={$pagebar['next']}{/if}">下一页</a>
		{/if}
		<a class="next_btn" href="/index.php?r=goldcenter/task/tasklist&page_num={$pagebar['total']}">尾页</a>
	</div>
	{/if}
</div>
</div>
</body>
<script type="text/javascript">
{literal}
var xbox_createtask = function(){
	xman_redirect('/index.php?r=goldcenter/task/createtask');
}
var xbox_toindex = function(){
	xman_redirect('/index.php?r=goldcenter/task/index');
}
var xbox_edittask = function(seqid){
	xman_redirect('/index.php?r=goldcenter/task/edittask', {"seqid":seqid});
}
var xbox_deletetask = function(seqid){
	if(!confirm("确定要删除当前任务吗？")){
		return false;
	}
	window.parent.window.xman_show_loading();
	jQuery.ajax({
		url:'/index.php?r=goldcenter/task/delete2',
		type: 'GET',
		dataType: 'json',
		data: {"seqid":seqid},
		success: function(data){
			window.parent.window.xman_hide_loading();
			alert(data.info);
			if(data.status){
				xman_refresh();
			}
		}
	});
}
{/literal}
</script>
</html>
